@charset "UTF-8";
.navbar-collapse {
  display: flex;
  justify-content: end;
}

.list-nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*colores letra*/
.cont-trata, .texto-depi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-mision, .text-somos {
  font-size: 1.1rem;
  min-height: 200px;
  gap: 10px;
}

.seleccion-turno, .secvalores, footer ul, .reservafooter {
  flex-direction: column;
}

.valoreslista {
  font-weight: 800;
}

h1 {
  font-style: italic;
  font-weight: 600;
  color: rgba(222, 50, 113, 0.8470588235);
  font-size: 1.5rem;
}

h2,
h3 {
  text-align: center;
  color: rgba(222, 50, 113, 0.8470588235);
  font-family: "Times New Roman", Times, serif;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

main section div ul p {
  padding: 4px 8px;
}
main section div ul p:hover {
  background-color: #d8a7b1;
  color: #ffffff;
}

header {
  padding: padding 20px;
  background-color: #f2aeae;
}

.titulo {
  text-align: center;
}

.logo-img {
  display: flex;
  max-width: 20vh;
  border-radius: 2rem;
}

footer {
  padding: padding 20px;
  background-color: #f2aeae;
}
footer ul {
  display: flex;
  padding: padding 20px;
}
footer ul li {
  list-style: none;
}

.reservafooter {
  display: flex;
}

body {
  background-color: #f0c3c3;
  font-family: "Inter", sans-serif;
}

.contenedor2 {
  display: flex;
  padding: padding 20px;
}

.comentarios {
  border-radius: 16px;
  max-width: 500px;
}

.imgs {
  display: flex;
  border-radius: 20px;
  max-width: 100%;
}

.secvalores {
  display: flex;
  padding: padding 20px;
  gap: 20px;
}

.cont-qsomos {
  padding: padding 20px;
}

.cont-nmision {
  padding: padding 20px;
}

.valoreslista::marker {
  content: "✅";
}

.coment::after {
  content: "⭐⭐⭐⭐⭐";
}

.cover-img-carru {
  height: 50vh;
}

.borde section {
  border: 1px solid black;
  border-radius: 16px;
}

.canvasfondo {
  background-color: #f7d9d7;
}

.carousel-inner {
  width: 70vw;
  margin: 0 auto;
}

.card {
  background-color: rgba(207, 175, 203, 0.708);
}

.card-title::before {
  content: "❤️";
}

.seleccion-turno {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.card-link {
  color: #ffffff;
  text-decoration: none;
}
.card-link::after {
  content: "😁";
}

.btn-reserva {
  background-color: #e85d8c;
  color: #ffffff;
}
.btn-reserva:hover {
  background-color: lch(23.2% 26.87 351.32deg);
  color: #ffffff;
}

.btn-cards {
  background-color: rgb(89, 38, 62);
}
.btn-cards:hover {
  background-color: lch(24.46% 52.84 301.62deg);
}

.btnnav {
  background-color: #e85d8c;
}
.btnnav:hover {
  background-color: lch(23.2% 26.87 351.32deg);
  color: #ffffff;
}

@media (min-width: 700px) {
  .grid-eje {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-footer {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-style: italic;
    font-weight: 600;
  }
  .cover-img-carru {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .grid-eje {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .list-nav {
    display: flex;
    flex-direction: row;
  }
  .cover-img-carru {
    height: 100vh;
  }
}

/*# sourceMappingURL=estilos.css.map */
