@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.contenedor-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-mision, .text-somos {
  font-size: 1.1rem;
  min-height: 200px;
  gap: 10px;
}

.seleccion-turno, .reservafooter, .secvalores {
  flex-direction: column;
}

.valoreslista {
  font-weight: 800;
}

.btnnav {
  background-color: #e85d8c;
}
.btnnav:hover {
  background-color: lch(23.2% 26.87 351.32deg);
  color: #ffffff;
}

h1 {
  font-style: italic;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

h2,
h3 {
  text-align: center;
  color: rgba(222, 50, 113, 0.8470588235);
  font-family: "Times New Roman", Times, serif;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

main section div ul p {
  padding: 4px 8px;
}
main section div ul p:hover {
  background-color: #d8a7b1;
  color: #ffffff;
}

header {
  background-color: #f2aeae;
}
header .contenedor-h1 {
  background: #f2aeae;
  background: radial-gradient(circle, rgb(242, 174, 174) 2%, rgb(232, 93, 140) 18%, rgb(232, 95, 141) 30%, rgb(236, 128, 155) 52%, rgb(89, 38, 62) 68%, rgb(236, 128, 155) 89%);
}

.titulo {
  text-align: center;
}

.logo-img {
  display: flex;
  max-width: 12vh;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.list-nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 5px;
}

body {
  background-color: #E8D8D8;
  font-family: "Inter", sans-serif;
}

.cont-trata {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-depi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor2 {
  display: flex;
}

.comentarios {
  border-radius: 16px;
  max-width: 500px;
}

.alinacion-img {
  display: flex;
  justify-content: center;
}

.imgs {
  display: flex;
  border-radius: 20px;
  max-width: 100%;
}

.secvalores {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.cont-qsomos {
  padding: 20px;
}

.cont-nmision {
  padding: 20px;
}

.valoreslista::marker {
  content: "✅";
}

.coment::after {
  content: "⭐⭐⭐⭐⭐";
}

.cover-img-carru {
  height: 50vh;
}

.borde section {
  margin: 20px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: #f0c3c3;
}

.canvasfondo {
  background-color: rgb(94.6900695762%, 90.9962049336%, 90.9962049336%);
}

.carousel-inner {
  width: 70vw;
  margin: 0 auto;
}

.contenedor-mapa {
  margin: 10px;
}

.mapa {
  width: 400px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .mapa {
    width: 307.6923076923px;
  }
}

.sub-title-tratamiento {
  text-align: start;
  font-weight: 700;
}

section h4 {
  font-weight: 600;
}

.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.titvalor,
.title-nuestra-mision,
.title-somos {
  transition: 1s ease-in;
}
.titvalor:hover,
.title-nuestra-mision:hover,
.title-somos:hover {
  color: rgb(93.4668786433%, 53.9841017488%, 67.3343932167%);
  background-color: #59263e;
  border-radius: 16px;
}

footer {
  background-color: #f2aeae;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
}
footer p {
  text-align: center;
}

.reservafooter {
  display: flex;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: rgba(207, 175, 203, 0.708);
}
.card .card-img-top {
  height: 400px;
}
.card .card-title::before {
  content: "❤️";
}
.card .card-link {
  color: #ffffff;
  text-decoration: none;
}
.card .card-link::after {
  content: "😁";
}

.seleccion-turno {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.card-link {
  color: #ffffff;
  text-decoration: none;
}
.card-link::after {
  content: "😁";
}

.btn-reserva {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background: #e85d8c;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.btn-reserva:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #59263e;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn-reserva:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn-reserva span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn-reserva:hover span {
  color: #eceff2;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.btnnav {
  -webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
.btn-cards {
  background-color: rgb(89, 38, 62);
}
.btn-cards:hover {
  background-color: lch(24.46% 52.84 301.62deg);
}
.btn-cards {
  background: linear-gradient(270deg, #59263e, #ffffff, #352e7f, #59263e);
  background-size: 500% 500%;
  animation: botonGradiente 8s ease-in-out infinite;
}

@keyframes botonGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (min-width: 700px) {
  .logo-img {
    display: flex;
    max-width: 15vh;
  }
  .grid-eje {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .espacio-footer {
    display: flex;
    justify-content: space-around;
  }
  .espacio-footer div {
    margin: 10px 0px 0px 0px;
  }
  .espacio-footer ul {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-style: italic;
    font-weight: 600;
  }
  .cover-img-carru {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .logo-img {
    display: flex;
    max-width: 20vh;
  }
  .grid-eje {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .list-nav {
    display: flex;
    flex-direction: row;
  }
  .cover-img-carru {
    height: 100vh;
  }
  .espacio-footer {
    display: flex;
    justify-content: space-around;
  }
  .espacio-footer div {
    margin: 10px 0px 0px 0px;
  }
  .texto-depi,
  .texto-facial {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
