//colores
$color-titulo_principal: #de3271d8;
$color-interaccion-hover-p: #d8a7b1;
$color-texto-claro: #ffffff;
$color-fondo-tarjeta: rgba(207, 175, 203, 0.708);
$color-boton-primario: #e85d8c;
$color-boton-primerio-hover: lch(23.2% 26.87 351.32);
$color-boton-secundario: rgb(89, 38, 62);
$color-boton-secundario-hover: lch(24.46% 52.84 301.62);

//colores fondo
$color-fondo-encabezado-pie: #f2aeae;
$color-fondo-principal: #f0c3c3;
$color-fondo-offcanvas: #f7d9d7;

//tipo grafia por funcion
$tamano-titulo-principal: 1.5rem;
$tamano-subtitulo: 1.2rem;
$tamano-parrafo: 1rem;

//type fuente
$typifuenteh1: italic;
$typifuetesub: 'Times New Roman', Times, serif;
$typifuetebody: "Inter", sans-serif;


//espaciado por funcion 
$espaciado-interno-secciones: 20px;

//gap 
$separacion-elementos: 20px;



//border radio
$radio-logo: 2rem;
$radio-tarjeta-comentarios: 16px;
$radio-imagenes: 20px;

//alinacion de texto
$alinacion-parrafo: center;
$alinacion-final-seccion: end;
$alinacion-inicial-seccion: start;

//extend contenido index
%flex-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

//extend texto sobre nosotros
%estilotexto {
    font-size: 1.1rem;
    min-height: 200px;
    gap: 10px;
}

//extend direccion columna
%flexcolumna {
    flex-direction: column;
}

//exten direccion row
%flexfila {
    flex-direction: row;
}

//extend letra negrita
%letranegrita {
    font-weight: 800;
}

//extend color boton y hover 
%color-boton-hover {
    background-color: #e85d8c;

    &:hover {
        background-color: lch(23.2% 26.87 351.32deg);
        color: #ffffff;
    }
}