@use "../utilities/variables" as v;
@use "../utilities/mixins";

body {
    background-color: v.$color-fondo-principal;
    font-family: v.$typifuetebody;
}

.cont-trata {
    @include mixins.contenido-flex(center, center);
}

.texto-depi {
    @include mixins.contenido-flex(center, center);
}

.contenedor2 {
    display: flex;
    padding: v.$espaciado-interno-secciones;
}

.text-mision {
    @extend %estilotexto;
}

.text-somos {
    @extend %estilotexto;
}

.comentarios {
    border-radius: v.$radio-tarjeta-comentarios;
    max-width: 500px;
}

.imgs {
    display: flex;
    border-radius: v.$radio-imagenes;
    max-width: 100%;
}

.secvalores {
    display: flex;
    padding: v.$espaciado-interno-secciones;
    gap: v.$separacion-elementos;
    @extend %flexcolumna;
}

.cont-qsomos {
    padding: v.$espaciado-interno-secciones;
}

.cont-nmision {
    padding: v.$espaciado-interno-secciones;
}

.valoreslista {
    @extend %letranegrita;

    &::marker {
        content: '✅';
    }
}

.coment::after {
    content: '⭐⭐⭐⭐⭐';
}

.cover-img-carru {
    height: 50vh;

}

.borde section {
    border: 1px solid black;
    border-radius: v.$radio-tarjeta-comentarios;
}

.canvasfondo {
    background-color: v.$color-fondo-offcanvas;
}

.carousel-inner {
    width: 70vw;
    margin: 0 auto;

}