@use "../utilities/variables" as v;
@use "../utilities/mixins";

footer { 
    padding: v.$espaciado-interno-secciones;
    background-color: v.$color-fondo-encabezado-pie;
    ul {
        display: flex;
        padding: v.$espaciado-interno-secciones;
        @extend %flexcolumna;

        li {
            list-style: none;
        }
    }
}

.reservafooter {
    display: flex;
    @extend %flexcolumna;
}