@use "../utilities/variables" as v;
@use "../utilities/mixins";

header {
    padding: v.$espaciado-interno-secciones;
    background-color: v.$color-fondo-encabezado-pie;
}

.titulo {
    text-align: v.$alinacion-parrafo;
}

.logo-img {
    display: flex;
    max-width: 20vh;
    border-radius: v.$radio-logo;

}