@use "../utilities/mixins";

.navbar-collapse {
    @include mixins.general-flex;
    justify-content: end;


}

.list-nav {
    @include mixins.general-flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
}