@use "../utilities/mixins";
@use "../utilities/variables" as v; 

.navbar-collapse {
    display: flex;
    justify-content: end;


}

.list-nav {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: v.$espaciado-interno-secciones / 2;
}