@use "../utilities/variables" as v;

.btn-reserva {
    @extend %color-boton-hover;
    color: v.$color-texto-claro;   
}

.btnnav {
    @extend %color-boton-hover; 

    -webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}





.btn-cards {
    background-color: v.$color-boton-secundario;

    &:hover {
        background-color: v.$color-boton-secundario-hover;
    }

     background: linear-gradient(270deg, #59263e, #ffffff, #352e7f, #59263e);
    background-size: 500% 500%;

    animation: botonGradiente 8s ease-in-out infinite;
}

@keyframes botonGradiente{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;

    }

    100%{
        background-position: 0% 50%;
    }
} 