@use "../utilities/variables" as v;

.btn-reserva {
    @extend %color-boton-hover;
    color: v.$color-texto-claro
}

.btnnav {
    @extend %color-boton-hover; 

}
.btn-cards {
    background-color: v.$color-boton-secundario;

    &:hover {
        background-color: v.$color-boton-secundario-hover;
    }
}

