@use "../utilities/variables" as v;
@use "../utilities/mixins";


.card {

    padding: v.$espaciado-interno-secciones / 2;
    margin: v.$separacion-elementos / 2;
    background-color: v.$color-fondo-tarjeta;




    .card-img-top {
        height: 400px;
    }
        & .card-title::before {
            content: '❤️';
        }
    


    .card-link {
        color: v.$color-texto-claro;
        text-decoration: none;

        &::after {
            content: '😁';
        }
    }


}



.seleccion-turno {
    display: flex;
    padding: 5px;
    gap: v.$espaciado-interno-secciones - 15px;
    @extend %flexcolumna;
}

.card-link {
    color: v.$color-texto-claro;
    text-decoration: none;

    &::after {
        content: '😁';
    }
}