@use "../utilities/variables" as v;
@use "../utilities/mixins";


.card {
    background-color: v.$color-fondo-tarjeta;

    & .card-title::before {
    content: '❤️';
}

.card-link {
    color: v.$color-texto-claro;
    text-decoration: none;

    &::after {
        content: '😁';
    }
}
}



.seleccion-turno {
    display: flex;
    padding: 5px;
    gap: 5px;
    @extend %flexcolumna;
}

.card-link {
    color: v.$color-texto-claro;
    text-decoration: none;

    &::after {
        content: '😁';
    }
}

